<div id="banner_show" class="position-relative" style="background-image: url('<%= cl_image_path @list.image.key %>')">
  <h1 class="fw-bolder"><%= @list.name %></h1>
  <p class="bg-warning p-2 rounded-4 m-3 position-absolute top-0 end-0"><%= @list.movies.count %> movies</p>
</div>

<div class="bg-new">
  <div class="container">
    <%= link_to "Add a movie",  new_list_bookmark_path(@list), class: 'btn btn-success btn-lg text-white my-3' %>
    <div class="row">
      <% @bookmarks.each do |bookmark| %>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4 mb-4">
          <div class="card bg-dark text-white h-100 p-2 text-center">
            <div class="img-card bg-dark">
              <%= image_tag bookmark.movie.poster_url %>
            </div>
            <h6 class="mt-2"><%= bookmark.movie.title %></h6>
            <p class="small"><%= bookmark.movie.overview %></p>
            <p class="small"><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></p>
            <%= link_to "delete", bookmark_path(bookmark),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  class: "text-decoration-none text-danger small" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
